table {
   overflow-x: auto;
   overflow-y: auto;
   max-height: 600px;
   display: block;
}

table tr:nth-child(2n) {
    background-color: #e9e9e9;
}

th {
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: #dbdbdb;
}

th:first-child {
    position: sticky;
    left: 0;
    z-index: 3;
    background-color: #dbdbdb;
}

td:first-child {
    position: sticky;
    left: 0;
    z-index: 1;
    background-color: #dbdbdb;
}

.resize {
    height: 200px;
}

.left {
    float: left;
    margin-right: 1em;
}